
.bg-primary{
    background-color: pink !important;
    background-image: url(../assets/img/lovepik-starry-background-image_500543007.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

p.redred{
    color:red;
    background-color: aqua;
    border: 10px solid blueviolet;
    background-image: url(../assets/img/lovepik-starry-background-image_500543007.jpg);
    font-size: 40px;
    text-align: center;
}

.blueblue{
    color: blue;
}

body {
    font-family: 'Noto Sans TC', sans-serif;
    }
    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Noto Serif TC', sans-serif;
    }

.expedu_icon{
    color: red;
}

.expedu_icon:hover{
    color: white;
    background-color: red;
}