
.bg-primary{
    background-color: pink !important;
    background-image: url(../assets/img/sky1.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

p.redred{
    color:rgb(226, 207, 225);
    background-color: aqua;
    border: 8px solid rgb(133, 26, 232);
    background-image: url(../assets/img/sky1.JPG);
    font-size: 35px;
    text-align: center;
    background-size: cover;
}

.pinkpink{
    color: rgb(215, 113, 147);
}

.blueblue{
    color: rgb(126, 107, 235);
}

.colorcolor{
    color: rgb(158, 182, 211);
}

body {
    font-family: 'Noto Sans TC', sans-serif;
    }
    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Noto Serif TC', sans-serif;
    }

body {
        background-color: rgb(235, 224, 224);
    }
    

.expedu_icon{
    color: orchid;
}

.expedu_icon:hover{
    color: white;
    background-color: rgb(54, 240, 253);
}

.overflowtest{
    background-color: darkgrey;
    color: white;
    padding: 10px 20px;
    border-radius: 15px;
    width: 50%;
    margin: 30px auto;
    height: 215px;
    overflow: scroll;
}

table {
    width: 90%;
    }

    th{
        text-align: center;
        }
        td {
        text-align: justify;
        }

        tr:nth-child(even) {
            background-color: rgb(223, 225, 232);
            }
            tr:nth-child(odd) {
            background-color: rgb(208, 202, 204) ;
            }

            td {
                border:2px solid #acafad;
                } 

                table {
                    border-collapse: collapse;
                    }