
.bg-primary{
    background-color: pink !important;
    background-image: url(../assets/img/sky.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

p.redred{
    color:white;
    background-color: aqua;
    border: 10px solid blueviolet;
    background-image: url(../assets/img/sky.jpg);
    font-size: 40px;
    text-align: center;
}

.blueblue{
    color: palevioletred;
}

body {
    font-family: 'Noto Sans TC', sans-serif;
    }
    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Noto Serif TC', sans-serif;
    }

.expedu_icon{
    color: red;
}

.expedu_icon:hover{
    color: white;
    background-color: red;
}

table {
    width: 80%;
    }

    th{
        text-align: center;
        }
        td {
        text-align: justify;
        }

        tr:nth-child(even) {
            background-color: rgb(179, 226, 232);
            }
            tr:nth-child(odd) {
            background-color: rgb(249, 202, 209) ;
            }

            td {
                border:1px solid #2a5d44;
                } 

                table {
                    border-collapse: collapse;
                    }